@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
    /* COLOR */
    --body-color: #fbf7f1;
    --primary-color: #815B5B;
    --hover-color: #9E7676;
    --text-color: #373737;
}

* {
    font-family: "DM Sans", sans-serif;
    font-size: 19px;
    color: var(--text-color);
}

body {
    background-color: var(--body-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 5rem;
    background-color: var(--body-color);
    border-bottom: 1px solid lightgray;
}

.header nav {
    padding: 1rems;
}

.user-index {
    font-weight: 600;
}

.nav-item {
    margin-right: 1rem;
    margin-left: 1rem;
}

.bx-log-out {
    font-size: 25px;
}

.header-title {
    font-weight: 700;
    font-size: 50px;
}

.text-field {
    width: 30rem;
}

.submit-btn {
    padding: 1rem;
    width: 15rem;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background-color: var(--primary-color);
    color: var(--body-color);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.submit-btn:hover {
    background-color: var(--hover-color);
}


/* LOGIN and REGISTER */
.header-container a {
    font-weight: 700;
    color: var(--primary-color);
}

.header-container a:hover {
    color: var(--hover-color);
}

.login-form {
    padding: 4rem;
    border: 1px dashed var(--primary-color);
    background-color: #ffff;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}


/* POST */
.page-body {
    margin-bottom: 3rem;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

/* .post-grid .post-add {
    width: 25rem;
    height: 18rem;
    background-color: var(--hover-color);
} */

.actions {
    text-decoration: underline;
    font-weight: 500;
 }

 .del-action {
    color: rgb(161, 0, 0);
 }

.edit-action {
    color: rgb(13, 157, 0);
 }

.post-btns i {
    /* color: var(--body-color); */
    font-size: 25px;
}

.post-card {
    border: 1px solid lightgray;
    width: 40rem;
    height: 15rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.5rem;
    background-color: #ffff;
}

.post-add, .post-card {
    height: fit-content;
}

.post-add .post-btns i {
    margin-right: 0.3rem;
}

.post-add .post-btns .submit-btn {
    width: 6rem;
    padding: 0.5rem;
}

.post-card .post-owner {
    font-size: 26px;
    font-weight: 700;
    color: var(--primary-color);
}

.post-card .post-time {
    font-size: 17px;
    font-weight: 600;
    color: #5f5f5f;
}

.post-card .post-title {
    font-size: 23px;
    font-weight: 700;
}

.post-card .post-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.link-card:hover {
    background-color: rgb(244, 244, 244);
}


/* Comments */
.comment-card .comment-owner {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
}

.comment-card .comment-time {
    font-size: 17px;
    font-weight: 600;
    color: #5f5f5f;
}

.comment-card {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.comments .comment-index {
    width: 100%;
}

.comment-header {
    margin-left: 0.5rem;
}